@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* classes */

.container {
    height: 100vh;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    background-color: #EEEEEE;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 2/3;
    grid-row: 1/2;
}

.header-title {
    background-color: yellow;
    grid-row: 2/4;  
}

.link-icon {
    margin: 0px 16px;
}

.link-name {
    font-size: 24px;
    font-weight: 500;
}

.main-content {
    background: #00ADB5;
    grid-row: 2/-1;
}

.nav-bar {
    background-color: green;
}

.sidebar {
    color: white;
    display: grid;
    grid-row: 1/-1;
    grid-template-rows: 1fr 6fr;
    background: #222831;
}

.sidebar-title {
    font-family: 'Pacifico', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/* SVGs */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}